langchain
python-dotenv
ipykernel
langchain-community
pypdf
pdfplumber
wikipedia
langchain-openai
chromadb
sentence-transformers
langchain_huggingface
langchain_chroma
beautifulsoup4
faiss-cpu
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette